:root {
    --primary-color: rgb(48, 48, 48);
    --secondary-color: white;
    --hover-color: rgb(15, 231, 138);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

html {
    font-size: 62.5%;
}

/* Here I'm targeting all the ul-li's 
in the css file to remove the dots */
ul {
    list-style-type: none;
}

body {
    background-color: var(--secondary-color);
}

.all-nav {
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem 1.5rem;
}

.icon {
    display: inline;
    padding: 4px;
    border: 3px solid var(--secondary-color);
    padding: 1rem 0.8rem;
    border-radius: 3px;
    transition: 0.3s;
}

.icon h3 {
    display: inline;
    padding: 4px;
    letter-spacing: -3.5px;
}

.icon i:hover {
    color: var(--hover-color);
}

.menu {
    display: none;
    align-items: center;
    margin: 0 -1rem;
    text-decoration: none;
}

.menu ul {
    display: flex;
    text-decoration: none;
}

.menu a {
    margin: 0 1rem;
    color: var(--secondary-color);
    text-decoration: none;
}

.menu a:hover {
    color: var(--hover-color);
}

.hamburguer {
    appearance: none;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;

    display: block;
    width: 2rem;
    height: 2rem;
}

.hamburguer span {
    color: var(--secondary-color);
    font-size: 2.6rem;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 98;

    padding-top: 6rem;   
    opacity: 0;
    transform: translateY(-100%);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.3s; 
}

.mobile-menu.is-open {
    opacity: 1;
    transform: translateY(0);
}

.mobile-menu a {
    display: block;
    padding: 1rem;
    color: var(--secondary-color);
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    transition: 0.3s;
}

.mobile-menu a:hover {
    color: var(--hover-color);
    background-color: var(--secondary-color);
}

@media (min-width: 768px) {
    .mobile-menu, .hamburguer {
        display: none;
    }

    .menu {
        display: flex;
    }
}